{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Task List</h1>

    <article>

        <ul>
            <table>
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Name</th>
      <th scope="col">Complete</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
        <td class="priority">
            {{ task.priority }}
        </td>
        <td class="name">
            {{ task.name }}
        </td>
        <td class="complete">
            <input type="checkbox">
        </td>
    </tr>
      {% else %}

        <p>None!</p>

      {% endfor %}
  </tbody>
</table>
              
        </ul>

    </article>

    <article>

        <form action="/add-task" method="POST">
            
            <label>
                Priority (1-5)
                <input name="priority" type="text" min="0" value="0" required>
            </label>

            <label>
                Task Name
                <input name="name" type="text" required>
            </label>

            <button>Add Your Task</button>
        </form>

    </article>

{% endblock %}

