{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Task List</h1>

    <article>

        <ul>
            {% for task in tasks %}
                <li class="task">

                    <span class="name">
                        {{ task.priority }}
                    </span>
                    <span class="name">
                        {{ task.name }}
                    </span>
                    <span class="complete">
                        {{ task.name }}
                    </span>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

{% endblock %}

