{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Task List</h1>

    <article>

        <ul>
            <table>
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Name</th>
      <th scope="col">Complete</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
        <td class="priority">
            {{ task.priority }}
        </td>
        <td class="name">
            {{ task.name }}
        </td>
        <td class="complete">
            {% if task.complete %}
                <form action="/uncomplete/{{ task.id }}" method="POST">
                    <input type="checkbox" checked onchange="this.form.submit()">
                </form>
            {% else %}
                <form action="/complete/{{ task.id }}" method="POST">
                    <input type="checkbox" onchange="this.form.submit()">
                </form>
            {% endif %}
        </td>
    </tr>
      {% else %}

        <p>None!</p>

      {% endfor %}
  </tbody>
</table>
              
        </ul>

    </article>

    <article>

        <form action="/add/{{ tasks.id }}" method="POST">
            
            <label>
                Priority (1-5)
                <select name="select" aria-label="Select" required>
                    <option selected disabled value="">Select</option>
                    <option name="priority" type="int">1</option>
                    <option name="priority" type="int">2</option>
                    <option name="priority" type="int">3</option>
                    <option name="priority" type="int">4</option>
                    <option name="priority" type="int">5</option>
                </select>
            </label>

            <label>
                Task Name
                <input name="name" type="text" required>
            </label>

            <button>Add Your Task</button>
        </form>

    </article>

{% endblock %}

